body {
    margin: 10px;
}
div.heading {
    border: 1px dotted #666;
    margin-bottom: 10px;
    padding: 10px;
}
span.spec {
    font-weight: bold;
    margin-right: 25px;
}
span.toggle {
    cursor: pointer;
}
span.toggle::after {
    content: "⊕";
    font-size: 80%;
}
span.pass{
    float: right;
}
div.overview {
    display: none;
    font-size: 80%;
    margin-top: 10px;
    white-space: pre-wrap;
}
span.name {
    font-weight: bold;
}
span.desc {
    font-size: 80%;
}
span.name, span.desc {
    display: inline-block;
    margin: 10px;
}
table.test {
    margin-bottom: 20px;
    display: none;
}
table.test td {
    padding: 5px 25px 5px 0px;
    vertical-align: top;
    white-space: pre-wrap;
}
td.label {
    font-variant: small-caps;
}
td.template, td.data {
    font-family: monospace;
}
.match::before {
    color: green;
    content: "✔";
    font-size: 80%;
    padding-right: 10px;
}
.error::before {
    color: red;
    content: "✖";
    font-size: 80%;
    padding-right: 10px;
}
